/* ------------------------------------------------------

CSS File for the main page (index.html)

1. Page CSS
- CSS for use on the entire page
- Font Usage
  - Roboto: font-family: 'Roboto', sans-serif;
  - Dancing Script: font-family: 'Dancing Script', cursive;
  - Raleway: font-family: 'Raleway', sans-serif;

2. Banner CSS
- CSS for the banner section of the page

3. Mission CSS
- CSS for the mission section of the page

4. Recieving Food CSS
- CSS for the receiving food section of the page

------------------------------------------------------- */ 

/* Page CSS */

body {
  position: relative;
}

.header {
  font-family: 'Raleway', sans-serif;
}

.content {
  font-family: 'Roboto', sans-serif;
  padding: 3em;
}

.column_header {
  font-size: 22px;
  text-decoration: underline;
}

.navbar {
  background-color: black !important;
}

.navbar ul {
  padding: 1.5em;
  font-size: 18px;
}

/* Light background */
.bg-l {
  background-image: url("images/dust_scratches.png");
  color: #706b67;
}

/* Dark background */
.bg-d {
  background-image: url("images/dark-honeycomb.png");
  color: #dedede;
}

.extra_padding {
  padding: 2em;
}

.extra_paddingB {
  padding-bottom: 2em;
}

.filler {
  height: 80vh;
}

/* Banner CSS */
.parallax { 
    /* The image used */
    background-image: url("images/berriesresizeblur.jpg");
  
    /* Set a specific height */
    height: 80vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quote {
  position: relative;
  top: 50%;
}


#banner_quote {
  color: white;
  font-size: 2em;
  font-style: italic;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

/* Message */

/* Mission CSS */

/* Upcoming Events */
#events {
  height: 80vh;
}

/* Receiving Food CSS */

#pac-input {
font-size: 20px;
padding: 10px;
margin: 8px;
}

#map {
  width: 65%;
  height: 25em;
}

.accordion .card-body {
  color: black;
}

/* Contact CSS */

.info {
  border-left: #706b67 solid;
  padding-top: 5%;
}




    

